.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  text-align: center;
}

.displayDataHeaderCell {
  font-weight: bold;
  border-right: solid thin black;
  padding: 5px;
  border-bottom: solid thin black;
}
.displayMainRow {
  border-bottom: solid 1px black;
}
.displayMainCell {
  border-right: solid thin black;
  padding: 5px;
}
.displayMainCell:last-child {
  border: none;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
